#section-header {
	min-height: 450px;
	background: rgba(0,0,0,.2) url('http://avalonschool.dev/sites/default/files/Home_Top_Bkd.jpg') no-repeat top center / cover;
	padding: 20px;

	#zone-user {
		margin-bottom: 10px;
	}
}

//main menu
#region-menu {
	/*reset the color for links*/
	a {
		color: #fff;
		text-decoration: none;
	}
	.navigation {
		text-align: right;
	}
	#main-menu {
		li {
			display: inline-block;
			font-family: 'Montserrat', helvetica, sans-serif;
			font-size: 12px;
			text-align: left;
			max-width: 140px;
			vertical-align: middle;
		}
	}
}

// search field
#search-block-form {
	text-align: right;
}
#edit-search-block-form--2 {
	width: 200px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #e1e1e1;
	padding: 5px 20px 5px 5px;
	color: #a6a5a4;

	&:focus {
		outline: 0;
		box-shadow: none;
	}
}
// search button reformat to magnify glass
#edit-actions {
	position: relative;

	&:after {
		content: '\f002';
		position: absolute;
		top: -1px;
		right: 5px;
		font-family: 'FontAwesome';
		font-size: 14px;
		color: #524c45;
	}
}
#edit-submit {
	display: none;
}

// headline text overrides
#block-block-4 {
	margin: 50px 0 150px;
	h2 {
		font-size: 45px;
		line-height: 1.2;
		color: #fff;
	}
	h3 {
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		font-weight: 300;
		color: #fff;
	}
}

