#page-title {
	font-family: 'Montserrat', helvetica, sans-serif;
	font-size: 30px;
	font-weight: 700;
	margin-left: 10px;
}

.region-inner {

	h1, h2, h3, h4, h5, h6 {
		color: #8dc63f;
	}
	article {
		margin: 0 10px 50px;
	}
}


#region-sidebar-first {
	background-color: #948b80;
	border: 10px solid #fff;
	padding: 20px;
	margin-top:-40px;
	min-height: 300px;

	.block-title {
		position: relative;
		a {
			text-decoration: none;
			color: #fff;
			font-size: 20px;

			&.active {
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: -25px;
					background-color: #fff;
					width: 20px;
					height: 100%;
				}
			}
		}
	}
	.menu {
		position: relative;
		margin-top: 10px;

		a {
			text-decoration: none;
			color: #fff;

			&.active {
				color: #fff;
			}
		}

		li {
			list-style: none;
			margin: 5px 0;
			position: relative;

			&.active {
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: -25px;
					background-color: #fff;
					width: 20px;
					height: 100%;
				}
			}
		}
	}
}

// button styling for main section
button {
	background: #8dc63f;
	border: none;
	border-radius: 6px;
	padding: 10px;
	margin: 0 5px;
	display: inline-block;
	text-shadow: none;
	color: #fff;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;

	&:hover {
		box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-ms-transition: all .3s;
		transition: all .3s;
	}
}



// quick link area for current students links
#block-views-quick-links-block {
	.view {
		margin: 20px 0 50px;
	}
	.views-row {
		display: inline-block;
		width: 33%;
		text-align: center;
		margin-bottom: 40px;

		a {
			font-family: 'Montserrat', sans-serif;
			text-transform: uppercase;
			text-decoration: none;
			color: #524c45;
			margin-top: 10px;
			display: inline-block;

			&:hover {
				text-transform: underline;
			}
		}
	}
}



// search results custom 
#block-system-main {
	ul {
		margin-left: 20px;
	}
	input {
		border-color: #848484;
		padding: 15px 5px;
		max-width: 100%;
		&:focus {
			outline: none;
			box-shadow: none;
			border-color: #8dc63f;
		}
	}
	input[type=submit] {
		background: #8dc63f;
		border: none;
		border-radius: 6px;
		padding: 10px;
		margin: 0 5px 0 0;
		display: inline-block;
		text-shadow: none;
		color: #fff;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-ms-transition: all .3s;
		transition: all .3s;

		&:hover {
			box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
			-webkit-transition: all .3s;
			-moz-transition: all .3s;
			-ms-transition: all .3s;
			transition: all .3s;
		}
	}
}