/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/**
 * #SETTINGS
 */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
#section-header {
  min-height: 450px;
  background: rgba(0, 0, 0, 0.2) url("/sites/default/files/Home_Top_Bkd.jpg") no-repeat top center/cover;
  padding: 20px; }
  #section-header #zone-user {
    margin-bottom: 10px; }

#region-menu {
  /*reset the color for links*/
  /*@media (min-width: 20em) and (max-width: 64em) {
  	.navigation {
  		position: absolute;
  		right: 0;
  		top: 0;
  		z-index: 100;
  		background: rgba(0,0,0,.8);
  	}
  }*/ }
  #region-menu a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s; }
    #region-menu a:hover {
      color: #8dc63f; }
  #region-menu .navigation {
    text-align: center; }
    @media (min-width: 48em) {
      #region-menu .navigation {
        text-align: right; } }
  #region-menu #main-menu li {
    display: inline-block;
    font-family: 'Montserrat', helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    max-width: 140px;
    vertical-align: middle; }
    @media (min-width: 20em) and (max-width: 64em) {
      #region-menu #main-menu li {
        max-width: 250px;
        margin-top: 20px; } }

#search-block-form {
  text-align: right; }

#edit-search-block-form--2 {
  width: 150px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  padding: 5px 20px 5px 5px;
  color: #a6a5a4; }
  @media (min-width: 62em) {
    #edit-search-block-form--2 {
      width: 200px; } }
  #edit-search-block-form--2:focus {
    outline: 0;
    box-shadow: none; }

#edit-actions {
  position: relative; }
  #edit-actions:after {
    content: '\f002';
    position: absolute;
    top: -1px;
    right: 5px;
    font-family: 'FontAwesome';
    font-size: 14px;
    color: #524c45; }

#edit-submit, #edit-submit--3 {
  display: none; }

#block-block-4 {
  margin: 50px 0 150px; }
  #block-block-4 h2 {
    font-size: 45px;
    line-height: 1.2;
    color: #fff; }
  #block-block-4 h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff; }

#zone-menu-wrapper {
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.menu-donate {
  display: none; }

@media (min-width: 48em) {
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 10px 0;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    z-index: 100;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
    .sticky #region-menu a {
      color: #524c45; }
      .sticky #region-menu a:hover {
        color: #8dc63f; }
    .sticky .logo-img img {
      height: 40px; }
    .sticky #region-menu #main-menu li {
      margin: 0; }
    .sticky .menu-donate {
      display: inline-block;
      padding: 10px;
      background-color: #8dc63f;
      border-radius: 6px;
      color: #fff !important; }
      .sticky .menu-donate:hover {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); } }
body.page-user #block-system-main, body.context-user #block-system-main {
  margin-top: 0 !important; }
body.page-user #edit-submit, body.context-user #edit-submit {
  display: block; }

#section-content {
  background: #8dc63f url("/sites/default/files/Students_green.png") no-repeat bottom center/100%;
  padding-bottom: 100px; }
  #section-content #region-content .region-inner {
    background-color: #fff;
    margin-top: -100px;
    padding: 25px 15px 0px; }
    #section-content #region-content .region-inner td {
      width: 33%;
      text-align: center;
      padding: 20px;
      border-right: 1px solid #a6a5a4;
      vertical-align: top; }
      @media (min-width: 20em) and (max-width: 48em) {
        #section-content #region-content .region-inner td {
          width: 100%;
          display: block;
          border-right: none;
          border-bottom: 1px solid #a6a5a4; }
          #section-content #region-content .region-inner td:last-child {
            border-bottom: none; } }
      #section-content #region-content .region-inner td:last-child {
        border-right: none; }
      #section-content #region-content .region-inner td .views-field-field-homepage-icon {
        min-height: 68px;
        margin-bottom: 20px; }
      #section-content #region-content .region-inner td .views-field-title {
        min-height: 50px;
        font-family: 'Montserrat', helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase; }
      #section-content #region-content .region-inner td .views-field-body {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6; }
      #section-content #region-content .region-inner td a {
        color: #FCB041;
        text-decoration: none; }
        #section-content #region-content .region-inner td a:hover {
          text-decoration: underline; }
      #section-content #region-content .region-inner td:first-child a {
        color: #00aeef; }
      #section-content #region-content .region-inner td:last-child a {
        color: #8dc63f; }

#zone-footer {
  margin: 91px auto 80px; }
  @media (min-width: 20em) and (max-width: 46.25em) {
    #zone-footer {
      text-align: center; } }
  #zone-footer h2 {
    text-transform: uppercase; }
  #zone-footer i {
    margin-left: 5px;
    font-size: 18px; }
  #zone-footer a {
    color: #524c45;
    text-decoration: none;
    position: relative; }
    #zone-footer a:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      background-color: #8dc63f;
      -webkit-transition: all .3s;
      transition: all .3s; }
    #zone-footer a:hover {
      color: #8dc63f; }
    #zone-footer a:hover:after {
      width: 100%;
      height: 1px; }
  #zone-footer .block-title {
    font-size: 14px; }
  #zone-footer .footer-btn--donate {
    background: #fcb040;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 3px;
    color: #fff;
    border: none; }
    #zone-footer .footer-btn--donate:hover {
      color: #fff;
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3); }
  #zone-footer .footer-contact--link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; }
  #zone-footer #block-delta-blocks-logo {
    margin-bottom: 43px; }
  #zone-footer #block-block-5 p {
    font-size: 16px;
    line-height: 1.4; }
  #zone-footer #block-block-5 .address {
    margin-bottom: 35px; }

@media (min-width: 20em) and (max-width: 46.26em) {
  #region-footer-first .logo-img {
    margin: 0 auto;
    float: none; } }

#region-footer-second section, #region-footer-third section, #region-footer-fourth section {
  margin-bottom: 35px; }
@media (min-width: 20em) and (max-width: 46.25em) {
  #region-footer-second ul.menu, #region-footer-third ul.menu, #region-footer-fourth ul.menu {
    text-align: center; } }
#region-footer-second ul li, #region-footer-third ul li, #region-footer-fourth ul li {
  list-style: none;
  margin: 0; }

#zone-legal-wrapper {
  background-color: #e1e1e1;
  font-size: 16px;
  padding: 25px 0 0; }

#page-title {
  font-family: 'Montserrat', helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-left: 10px; }

.region-inner h1, .region-inner h2, .region-inner h3, .region-inner h4, .region-inner h5, .region-inner h6 {
  color: #8dc63f; }
.region-inner article {
  margin: 0 10px 50px; }

#region-sidebar-first {
  background-color: #948b80;
  border: 10px solid #fff;
  padding: 20px;
  margin-top: -40px;
  min-height: 300px; }
  #region-sidebar-first .block-title {
    position: relative; }
    #region-sidebar-first .block-title a {
      text-decoration: none;
      color: #fff;
      font-size: 20px; }
      #region-sidebar-first .block-title a.active:before {
        content: '';
        position: absolute;
        top: 0;
        left: -25px;
        background-color: #fff;
        width: 20px;
        height: 100%; }
  #region-sidebar-first .menu {
    position: relative;
    margin-top: 10px; }
    #region-sidebar-first .menu a {
      text-decoration: none;
      color: #fff; }
      #region-sidebar-first .menu a.active {
        color: #fff; }
    #region-sidebar-first .menu li {
      list-style: none;
      margin: 5px 0;
      position: relative; }
      #region-sidebar-first .menu li.active:before {
        content: '';
        position: absolute;
        top: 0;
        left: -25px;
        background-color: #fff;
        width: 20px;
        height: 100%; }

button {
  background: #8dc63f;
  border: none;
  border-radius: 6px;
  padding: 10px;
  margin: 0 5px;
  display: inline-block;
  text-shadow: none;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s; }
  button:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    -webkit-transition: all .3s;
    transition: all .3s; }

.view-quick-links {
  margin: 20px 0 50px; }
  .view-quick-links .views-row {
    display: inline-block;
    width: 33%;
    text-align: center;
    margin-bottom: 40px; }
    .view-quick-links .views-row a {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      color: #524c45;
      margin-top: 10px;
      display: inline-block; }
      .view-quick-links .views-row a:hover {
        text-transform: underline; }

#block-system-main ul {
  margin-left: 20px; }
#block-system-main input {
  border-color: #848484;
  padding: 15px 5px;
  max-width: 100%; }
  #block-system-main input:focus {
    outline: none;
    box-shadow: none;
    border-color: #8dc63f; }
#block-system-main input[type=submit] {
  background: #8dc63f;
  border: none;
  border-radius: 6px;
  padding: 10px;
  margin: 0 5px 0 0;
  display: inline-block;
  text-shadow: none;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s; }
  #block-system-main input[type=submit]:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    -webkit-transition: all .3s;
    transition: all .3s; }

#region-postscript-first .block {
  text-align: center;
  margin-top: 100px; }
  #region-postscript-first .block h3 {
    color: #fff;
    font-size: 30px; }
  #region-postscript-first .block p {
    color: #fff;
    font-size: 18px; }

#block-views-meet-our-team-block .content .view-content {
  margin-bottom: 40px; }
#block-views-meet-our-team-block .content .views-row {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 30px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease; }
  @media (min-width: 27em) {
    #block-views-meet-our-team-block .content .views-row {
      width: 49%; } }
  @media (min-width: 40em) {
    #block-views-meet-our-team-block .content .views-row {
      width: 32%; } }
  #block-views-meet-our-team-block .content .views-row:hover {
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
    -webkit-transition: -webkit-transform .3s ease;
    transition: transform .3s ease; }
#block-views-meet-our-team-block .content a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase; }
  #block-views-meet-our-team-block .content a:hover {
    text-decoration: underline; }
#block-views-meet-our-team-block .content .views-field-field-teacher-image {
  width: 149px;
  height: 149px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #646464; }
  #block-views-meet-our-team-block .content .views-field-field-teacher-image img {
    width: 100%;
    height: auto; }

* {
  box-sizing: border-box; }

html, body {
  font-family: 'Open Sans', helvetica, sans-serif;
  color: #524c45; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', helvetica, sans-serif; }

a, a:link, a:visited {
  color: #8dc63f;
  text-decoration: underline; }

img {
  max-width: 100%; }

.region-user-first {
  margin: 1px 0; }
  .region-user-first li {
    display: inline; }

/*# sourceMappingURL=global.css.map */